{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="ui container center aligned">
    <article style="color: black; width: 700px; margin: auto;">
        <h2>Войти</h2>
        <form method="post" class="ui form">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="ui button primary" type="submit">Войти</button>
        </form>
    </article>
    <footer style="text-align: center; padding: 10px; margin-bottom: 15px;">
        <a href="{% url 'home' %}">Главная</a>
    </footer>
</div>
{% endblock %}
