{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="grid">
    <header>
      <nav style="display: flex;">
        <div class="logo">
            <h4>Mansur Musaev</h4>
        </div>
        <ul class="nav-links">
      
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="#">About</a></li>
            {% if user.is_authenticated %}
              <li><a style='color:teal;' href="#">{{ user.username }}</a></li>
              <li><a href="{% url 'logout' %}">Выход</a></li>
            {% else %}
              <li><a href="{% url 'login' %}">Вход</a></li>
              <li><a href="{% url 'signup' %}">Регистрация</a></li>
            {% endif %}
            <li><a href="#">Projects</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
      </nav>    
    </header>
    <article style="color: black;">
      <h1>Забили свой пароль ?</h1>
      <p>
          Введите свой адрес электронной почты ниже, 
          и мы отправим вам инструкции по установке нового адреса электронной почты.
      </p>
      <form method="POST">
        {% csrf_token %}
        {{ form|crispy}}
        <input class="btn btn-success" type="submit" value="Send me instructions!">
      </form>
    </article>
    <footer style="text-align: center; padding: 10px; margin-bottom: 15px;">
      <a href="{% url 'home' %}">Главная</a>
    </footer>
</div>      
{% endblock %}