{% extends 'base.html' %}

{% block title %}Password reset complete{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}
<div class="grid">
    <article style="color: black;">
        <h1>Сброс пароля завершен</h1>
        <p>
            Ваш новый пароль установлен. Теперь вы можете войти в систему на 
            <a href="{% url 'login' %}">страница авторизации</a>.
        </p>
    </article>
    <footer style="text-align: center; padding: 10px; margin-bottom: 15px;">
      <a href="{% url 'home' %}">Главная</a>
    </footer>
</div>      
{% endblock %}