{% extends 'base.html' %}

{% block title %}Password reset complete{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}
<div class="grid">
    <header>
      <nav style="display: flex;">
        <div class="logo">
            <h4>Mansur Musaev</h4>
        </div>
        <ul class="nav-links">
      
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="#">About</a></li>
            {% if user.is_authenticated %}
              <li><a style='color:teal;' href="#">{{ user.username }}</a></li>
              <li><a href="{% url 'logout' %}">Выход</a></li>
            {% else %}
              <li><a href="{% url 'login' %}">Вход</a></li>
              <li><a href="{% url 'signup' %}">Регистрация</a></li>
            {% endif %}
            <li><a href="#">Projects</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
      </nav>    
    </header>
    <article style="color: black;">
        <h1>Сброс пароля завершен</h1>
        <p>
            Ваш новый пароль установлен. Теперь вы можете войти в систему на 
            <a href="{% url 'login' %}">страница авторизации</a>.
        </p>
    </article>
    <footer style="text-align: center; padding: 10px; margin-bottom: 15px;">
      <a href="{% url 'home' %}">Главная</a>
    </footer>
</div>      
{% endblock %}