{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="grid">
    <article style="color: black;">
      <h1>Забыли свой пароль ?</h1>
      <p>
          Введите свой адрес электронной почты ниже, 
          и мы отправим вам инструкции по установке нового адреса электронной почты.
      </p>
      <form method="POST">
        {% csrf_token %}
        {{ form|crispy}}
        <input class="btn btn-success" type="submit" value="Send me instructions!">
      </form>
    </article>
    <footer style="text-align: center; padding: 10px; margin-bottom: 15px;">
      <a href="{% url 'home' %}">Главная</a>
    </footer>
</div>      
{% endblock %}