{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="ui container center aligned">
    <article style="color: black; max-width: 400px; margin: auto;">
        <h1>Забыли свой пароль?</h1>
        <p>
            Введите свой адрес электронной почты ниже, 
            и мы отправим вам инструкции по установке нового пароля.
        </p>
        <form method="post" class="ui form">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="ui button primary" type="submit">Send me instructions!</button>
        </form>
    </article>
    <footer style="text-align: center; padding: 10px; margin-bottom: 15px;">
        <a href="{% url 'home' %}">Главная</a>
    </footer>
</div>
{% endblock %}
