{% extends 'base.html' %}

{% block title %}Email Sent{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}
<div class="grid">
    <article style="color: black;">
      <h1>Проверьте свою почту.</h1>
      <p>
          Мы отправили вам по электронной почте инструкции по установке пароля. 
          Вы получите письмо в ближайшее время!
      </p>
    </article>
    <footer style="text-align: center; padding: 10px; margin-bottom: 15px;">
      <a href="{% url 'home' %}">Главная</a>
    </footer>
</div>      
{% endblock %}