{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="grid">
    <article style="color: black;">
      <h1>Add Comment....</h1>
    <form action="" method="post">{% csrf_token %}
      {{ form|crispy }}
      <button class="btn btn-success ml-2" type="submit">Save</button>
    </form>
    </article>
    <footer style="text-align: center; padding: 10px; margin-bottom: 15px;">
      <a href="{% url 'article_list' %}">Назад</a>
    </footer>
</div>      
{% endblock %}