{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<nav style="display: flex;">
    <div class="logo">
        <h4>Mansur Musaev</h4>
    </div>
    <ul class="nav-links">
      
      <li><a href="{% url 'home' %}">Главная</a></li>
      <li><a href="#">About</a></li>
      {% if user.is_authenticated %}
        <li><a style='color:teal;' href="#">{{ user.username }}</a></li>
        <li><a href="{% url 'logout' %}">Выход</a></li>
      {% else %}
        <li><a href="{% url 'login' %}">Вход</a></li>
        <li><a href="{% url 'signup' %}">Регистрация</a></li>
      {% endif %}
      <li><a href="#">Projects</a></li>
  </ul>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>

    
</nav>

<style>
    nav {
      position: absolute;
    }

    @media (min-width: 640px) {
        .grid {
            grid-template-columns: 2fr 4fr;
            grid-template-areas:
                "article article"
                "footer  footer"
        }
    }
</style>
<div class="grid">
    <article style="color: black;">
      <h1>Edit</h1>
      <form action="" method="post">
          {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-info ml-2" type="submit">Update</button>
      </form>
    </article>
    <footer style="text-align: center; padding: 10px; margin-bottom: 15px;">
      <a href="{% url 'article_list' %}">Назад</a>
    </footer>
</div>      
{% endblock %}