{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="ui container center aligned">
    <article style="color: black; max-width: 400px; margin: auto;">
        <h1>Удалить</h1>
        <form action="" method="post" class="ui form">
            {% csrf_token %}
            <p>Вы уверены, что хотите удалить "{{ article.title }}"?</p>
            <button class="ui button negative" type="submit">Confirm</button>
        </form>
    </article>
    <footer style="text-align: center; padding: 10px; margin-bottom: 15px;">
        <a href="{% url 'article_list' %}">Назад</a>
    </footer>
</div>      
{% endblock %}
