{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">


   
    <title>Document</title>
</head>
<body>
  <div class="ui container center aligned">
    
    <article class="ui segment" style="width: 100%; margin: auto;">
      
      <div class="ui grid">
        <header class="ui segment"  style="width: 100%; margin: auto;">
          <div class="ui menu">
            <div class="logo item">
              <h4>Mansur Musaev</h4>
            </div>
            <a class="item" href="{% url 'article_list' %}">Посты</a>
            {% if user.is_authenticated %}
              <div class="right menu">
                <a class="item teal" href="#">{{ user.username }}</a>
                <a class="item" href="{% url 'logout' %}">Выход</a>
              </div>
            {% else %}
              <div class="right menu">
                <a class="item" href="{% url 'login' %}">Вход</a>
                <a class="item" href="{% url 'signup' %}">Регистрация</a>
              </div>
            {% endif %}
          </div>  
        </header>
      </div>
    </article>
  </div>
    {% block content %}

    {% endblock content %}
          <!-- Bootstrap core JavaScript -->
        
          <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

</body>
</html>