{% extends 'base.html' %}

{% block content %}

<div class="ui container center aligned">
    
    <article class="ui segment" style="width: 100%; margin: auto;">
      
      <div class="ui grid">

        <article style="color: black;" class="ui container">
          {% for article in object_list %}
          <div style="position: initial; width: 700px; margin: auto;" class="ui card">
            <div class="content">
              <span class="header">{{ article.title }}</span> &middot;
              <span class="meta">by {{ article.author }} | {{ article.date }}</span>
            </div>
            <div class="content">
              <p>{{ article.body }}</p>
              {% if article.author == user %}
                <a href="{% url 'article_edit' article.pk %}">Edit</a> |
                <a href="{% url 'article_delete' article.pk %}">Delete</a>
              {% endif %}
            </div>
            <div class="content">
              <h2>Comments</h2>
              <a href="{% url 'add_comments' article.pk %}">Add Comment</a>
              <br/><br/>
              {% for comment in article.comments.all %}
                <p>
                  <span class="header">{{ comment.author }} &middot; {{ comment.date }} &middot;</span>
                  {{ comment.comment }}
                  <br>
                  {{ comment.body }}
                </p>
              {% endfor %}
            </div>
          </div>
          <br />
          {% endfor %}
        </article>
    
    </div>

      {% if user.is_authenticated %}
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="ui button primary" href="{% url 'article_new' %}">+ Создать пост</a></li>
        </ul>
      {% endif %}
    </article>
   
</div>
{% endblock %}
